body {
  position: relative;
  min-height: 100vh;
  font-family: sans-serif;
}

.hide {
  display: none !important;
}

.div-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 2px solid black;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

main {
  height: 100%;
}

/* Div: list of books of selected collection */
#div-items-header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#div-items {
  padding: 2rem;
}

#list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.li-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
}

.li-book > h3, .li-book > span {
  margin-bottom: .5rem;
}

.li-book > h3 {
  text-align: center;
  font-size: 1.25rem;
}

#btn-category-new, #btn-item-new {
  padding: .5rem 1rem;
  border: 1px solid black;
  font-weight: 500;
  cursor: pointer;
}

/* Form PUG */
.container-form {
  border: 2px solid black;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > label {
  margin-bottom: .5rem;
  font-weight: 500;
  width: 100%;
}

label > input {
  padding: .5rem 1rem;
}

#btn-submit {
  padding: .75rem 1.5rem;
  border: 2px solid black;
  font-weight: 700;
}

/* New Collection Modal */
#div-modal-collection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  z-index: 5;
  padding: 1rem;
  background-color: white;
}

#div-modal-collection > h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#div-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: hsla(0, 0%, 0%, .5);
}
